/*汎用*/
@media (max-width: 600px) {
    * main {
        width: clamp(500px, 95vw,600px);
        font-size: 24px;
        margin: auto;
    }

    * button {
        width: 200px;
        min-width: auto;
        font-size: 18px;
        height: auto;
    }
    .depth_2 {
        font-size: max(0.8em, 18px) ;
    }

    .depth_3 {
        font-size: max(0.8em, 16px) ;
    }

    .depth_4 {
        font-size: max(0.8em, 14px) ;
        margin: 0;
    }
    #rule {
        width: max(90%, 300px);
    }

    #title_buttons {
        width: max(200px, 40vw);
    }
    #title_buttons button {
        flex-wrap: nowrap;
    }

    #choice_word_input {
        width: max(200px, 50vw);
    }
    
    * dialog {
        width: 70vw;
        height: 40vh;
        min-height: auto;
    }

}


@media (min-width: 601px) {
    main {
        width: clamp(400px, 80vw,600px);
        margin: auto;
        font-size: 18px;

    }

    .depth_2 {
        font-size: max(0.8em, 14px) ;
    }

    .depth_3 {
        font-size: max(0.8em, 12px) ;
    }

    .depth_4 {
        font-size: max(0.8em, 10px) ;
        margin: 0;
        
    }
    #rule {
        width: min(90%, 400px);
    }

    #title_buttons {
        width: clamp(110px,40vw,200px);
    }

    #choice_word_input {
        width: clamp(200px, 30vw, 300px);
    }
}



.center {
    text-align: center ;
    display: block;
    margin: 0 auto;
}

.space_top_10px {
   margin-top: 10px;
}

.space_top_2em {
    margin-top: 2em;
}
.space_bottom_10 {
    margin-bottom: 10px;
}

.inline_block {
    display: inline-block;
}

.none_select {
    user-select: none;
}

.highlight {
    color: #303030;
    background-color: #ff4d4dd0;
}

.background_red {
    background-color: #54f8e265;
}



.margin_5_0 {
    margin: 5px 0;
}

* textarea {
    resize: none;
}


* button {
    user-select: none;
}

* summary {
    padding-left: 5px;
    user-select: none;
    cursor: pointer;
}

* label {
    user-select: none;
}

* h4 {
    font-size: max(0.85em, 11px);
    font-weight: 500;
    margin: auto;
}

.under_layer {
    margin-left: 6px;
    padding: 5px 10px 5px 15px;
    border-left: 2px solid #516d7a;
}

#bottom_space {
    height: 0;
    margin-bottom: 30vh;
}

#top_space {
    height: 8vh;
}





/*スクリーン*/
#title_screen {
    margin: auto;
}


#game_screen {
    margin: auto;
    padding: 10px;
    padding-bottom: 5vh;

    border: 1px solid #90c0f0;
    background-color: #90c0f013;

}


#result_screen {
    margin: auto;
    padding: 5px;

    
}

#setting_screen {
    height: 60vh;
    min-height: auto;

    margin: auto;
    padding: 10px 10px;


    border: 2px solid #90c0f0;
    background-color: #90c0f013;
}


#err_screen {
    margin: auto;
    margin-top: 10vh;
}




/*タイトル*/

#title_buttons {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    

    margin:10px auto;
    

}










/*ゲーム画面*/


#description {
    width: auto;
    min-height: 3.1em;
    max-height: 10em;

    resize: none;

}

#send_description {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#send_description button {
    margin-left: 0;

}

#choice_word_input {

    resize: none;
}

#worded_text {
    margin: 5px 0px;
}



#choice_area {
    display: flex;
    gap: 5px;

    flex-wrap: wrap;
}

#choice_area button {
    white-space: nowrap;
}

#choice_word_sub {
    border: 2px solid #425970;
}

#choice_word_check_text {
    margin: 0 auto;
}

.choice_word_check_button {
    
    margin: 0 auto;
    height: 25px;
    padding: 2px 5px;

}



#check_screen {
    border: 2px solid #425970;
}

#dup_description {
    margin: 0 auto;
    white-space: pre-line;
    line-height: 1.8;
}

#check_button_space {
    padding:0 clamp(1px, 5%, 10px) ;
}

#give_up_log {
    border: 1px solid;
}

.word_choice_button {
    margin-right: 5px;
}










/*リザルト画面*/

#record_part {
    padding: 5px;

    border: 1px solid #30b040;
    background-color: #30b0400a;
}

#record_text {
    margin: 0 auto;
    white-space: pre-line;
    line-height: 1.8;
}










/*ルール*/
#rule {
    margin: 0 auto;
    
    background-color: #30c0ff0a;
    border:2px solid #30c0ff ;
    padding: 5px;
    
}

#rule .depth_1 {
    font-size: 1em;
}

#rule .used summary {
    border: 1px solid #90c0f0;
    background-color: #90c0f013;
}

#rule .bigin summary {
    border: 1px solid #60f090;
    background-color: #80f0a010;
}


#rule h4:not(.no_back) {
    border-bottom:2px solid #ff404080;
}

.example {
    display: block;
    width: 100%;
    margin: 5px 0px;
    padding: 0px;
    padding-left: 5px;


    border: 1px solid #d0d0d060;
    border-left: 3px solid #464646;
    background-color: #dddddd60;

}

.small .example {
    line-height: 1;
    display: inline-block;
    width: auto;
    margin-left: 3px;
    padding-left: 3px;

    border: 1px solid #d0d0d060;
    border-left: 2px solid #464646;
    background-color: #dddddd60;
}


#rule summary .depth_1 {
    font-size: max(1.2em, 18px);
    text-align: left;
}





.footnote_open_button {
    color: #0000c8;
    cursor: pointer;
}

.footnote_open_button :hover {
    border-bottom: 1px solid;

}

.footnote_close_button {
    border: 1px solid;
    margin-top: 0;
}

.footnote {
    border: 1px solid;
}










/*設定関係*/


#close_setting_button {
    margin-bottom: 10px;
}
.small {
    font-size: 0.9em;
}

#another_summary {
    background-color: none;
    border: none;
}



